
.botonU{

    font-weight: bold;
    color: white;
    height: 25px;
    width: 70px;
    background-color:#0184a9;
    border-radius: 10px;
    border: none;
    margin: 10px;
    margin-top: 25px;
    margin-right: 60px;
    cursor: pointer;
}

.ordern{
    display: flex;
    margin: 3%;
    padding: auto;
    border-bottom: 2px solid black;
    
    justify-content: flex-start;
    align-content: center;
}
.ordern div{
    /* border-color: black;
    border: 2px; */
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.ordern h4{
    margin: 2%;
}
.ordern h5{
    margin: 2%;
}