.ordern{
    display: flex;
    margin: 3%;
    padding: auto;
    border-color: black ;
    border: 2px;
    box-shadow: 1px 1px 1px 1px black;
    justify-content: flex-start;
    align-content: center;
}
.ordern div{
    /* border-color: black;
    border: 2px; */
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.ordern h4{
    margin: 2%;
}
.ordern h5{
    margin: 2%;
}