
#buttonBack{

    font-weight: bold;
    color: white;
    height: 25px;
    width: 70px;
    background-color:#0184a9;
    border-radius: 10px;
    border: none;
    margin: 10px;
    margin-top: 25px;
    margin-right: 60px;
    cursor: pointer;
    
    
}


#mainContainer{
    overflow: hidden;
    margin-top: 20px;
    margin-left: 270px;
    padding: 10px;
    height: auto;
    width: 800px;
    
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}





#imgProduc{
    margin-top: 10px;
    margin-right: 60px;
    height: 300px;
    float:left
}

#dataContainer{
    text-align: left;
    width: 500px;
    background-color: white;
    
}

#titleDetailCard{
    margin: 1px;
    font-weight: bold;
    
}

#ulDetail{
    margin-left: 95px;
    width: 740px;
    text-align: left;
    margin-top: 30px;
}

#ulDetail li{
    margin:0px;
    list-style-type: none;
    font-size: 15px;
}
.contenedor-total{
    padding: 10px;
    margin:10px;
    width: 80%;
    text-align: center;
    
}
.comentario{
    padding: 5px;
    margin-top:20px;
    width: 98%;
    border-radius: 10px;
    text-align: left;
    border:none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
}
.nombre{
    margin:5px ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.reseña{
    margin:5px ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.estrellas{
    
    float: left;
    color : orange;
    font-size: medium;
    margin: 5px;
    margin-left:3%

}
.div{
    position: relative;
    left: 0; 
    top: 0;
}

.imagen{
   
    width: 100%;
    
z-index: 2;
margin-top:-500px;


}
.gif{
    width: 20%;
    height: 20%;
}

#mainContainerCompraFinal{
    overflow: hidden;
    margin-top: 60px;
    margin-left: 270px;
    padding: 10px;
    height: auto;
    width: 800px;
    
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#textCompra{
    font-family: Arial, Helvetica, sans-serif;
}

#imageCompraFinal{
    
    width:400px;
}