.contenedor-total{
  flex-wrap: wrap;
  overflow: hidden;
  height: auto;
  margin:2% 10%;

  
}
.contenedor-orden{
  width: 75%;
  margin:2%;
  padding: 2%;
  box-shadow: 0 3px 13px 1px rgba(0, 0, 0, 0.503);
  text-align:start;
}
.contenedor-art{
    width:80%;
    height: 70%;
    margin-top: 10px;
    margin-left: 10%;
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
    background-color: #fff;
    box-shadow: 0 3px 13px 1px rgba(1, 20, 40, 0.644);
    border-radius: 10px ;
    
}

#estadoCompra{
  width: 80px;
}

#textCompraNumero{
  width: 80px;
  float: right;
}
    #imagen-art{
        width: 20%;
        
        display: block;
      }
      .contenedor-texto-art {
         text-align:end; 
         width: 50%;
         height: 100%;
         padding: 2%;
         font-family: Arial, Helvetica, sans-serif;
         font-weight: 1%;
         line-height: 1.2rem;
      }
      .nombre-art {
        font-size: 1rem;
        font-weight:bold;
        margin-bottom: 2%;
      }
    .link {
      text-decoration: none;
      font-size:1.1rem ;
      text-align: justify;
    }
    .texto.art {
      font-size:2.1rem ;
      text-align: justify;
    }
 .imagenhc{
  width: 30%;
 }
 .h3{
  color: rgb(1, 1, 42);
 }
 .text{
  text-align: start;
  margin-top:10px;
 }
#buttonHistotialCliente{
  display: inline-block;
    font-weight: bold;
    color: #0184a9;
    height: 30px;
    width: 100px;
    background-color:transparent;
    border-radius: 10px;
    border: 2px solid #0184a9;
    cursor: pointer;
    font-size: 10px;
    margin-left: 45%;
    margin-top: 15px;
    font-weight: bold;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}