.contenedor-total{
  flex-wrap: wrap;
  overflow: hidden;
  margin:0
  
}
.contenedor-orden{
  width: 75%;
  margin:2%;
  padding: 2%;
  box-shadow: 0 3px 13px 1px rgba(0, 0, 0, 0.503);
}
.contenedor-art{
    width:80%;
    height: 200px;
    margin:30px 50px ;
    display: flex;

    align-items:flex-end;
    justify-content:flex-start;
    background-color: #fff;
    box-shadow: 0 3px 13px 1px rgba(3, 124, 246, 0.644);
    border-radius: 10px ;
    
    }
    .imagen-art{
        height: 100%;
        width: 250px;
        display: block;
      }
      .contenedor-texto-art {
         text-align:end; 
         height: 100%;
         width: 250px;
         padding: 10px;
         font-family: Arial, Helvetica, sans-serif;
         font-weight: 400;
         line-height: 1.5rem;
      }
      .nombre-art {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 20px;
      }
    .link {
      text-decoration: none;
      font-size:1.1rem ;
      text-align: justify;
    }
    .texto.art {
      font-size:2.1rem ;
      text-align: justify;
    }
 