#appBar3{
    background-color:  #0184a9;
}
#logoNavBar2{
    margin-top: 5px;
    height: 30px;
}
/* .filtro{
    width:100%;
    height: 10%;
   background-color:  #82cce1;
    box-shadow:0 3px 13px 1px #0184a9;
} */