

#logoNavBar{
    height: 50px;
    margin-right: 100px;
}

#appBar{
    background-color: #ffffff;
   
}

#guest{
    padding: 20px;
    color: #0184a9;
}

#containerButtonsRegistroInicio{
    width: 400px;
}

#button{
    color: #0184a9;
    border: solid 1px #0184a9;
    float: left;
    width: 150px;
    font-size: 10px;
    margin-right: 15px;
}

#cart{
    font-size: 30px;
    color: #0184a9
}

#cartButton{
    padding: 20px;
    float: left;
}

#adminNavbar{
    text-decoration: none;
      color: #0184a9
}

#buttonFavoritos{
    margin-top: 5px;
    margin-right: 15px;
    color: #0184a9;
    padding: 10px;

}




#buttonNavBarMenu{
    width: 120px;
    background-color: transparent;
    border: none;
    color: #02537d;
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

@media(max-width: 1440px){

    #logoNavBar{
       
        margin-right: 50px;
    }

}

@media(max-width: 1302px){

    #buttonNavBarMenu{
        width: 60px;
        margin-top: 10px;
        font-size: 10px;
        }

    .paralelogramo{
        width: 55px; 
        height: 42px; 
        margin-right: 10px;
           
        }

}

@media(max-width: 1302px){

    #guest{
        padding: 0px;
       
    }
    }

@media(max-width: 1302px){

    #guest{
         font-size: 12px;
           
    }

    #button{
        height: 35px;
        width: 80px;
        font-size: 10px;
    }

    #logoNavBar{
       
        
        margin-left: 10px;
        margin-right: 20px;
    }

    }
 
    @media(max-width: 820px){

        #logoNavBar{
    
            margin-left: 5px;
            margin-right: 10px;
        }

    }

@media(max-width: 820px){
    #logoNavBar{
       
        height: 30px;
        margin-left: 10px;
        margin-right: 40px;
    }

    .paralelogramo{
        width: 55px; 
        height: 42px; 
        margin-right: 20px;
       
    }

    #buttonNavBarMenu{
    width: 57px;
    margin-top: 10px;
    font-size: 10px;
    }

    #adminNavbar{
        display: none;

    }
    
}


@media(max-width: 766px){
    #guest{
       display: none;
    }

    #logoNavBar{
        margin-left: 30px;
        margin-right: 80px;
    }
    #button{
        height: 25px;
        width: 70px;
        font-size: 8px;
    }
}

@media(max-width: 731px){
    #guest{
        display: none;
     }
 
     #logoNavBar{
        margin-left: 5px;
        height: 20px;
     }
     #button{
         height: 15px;
         width: 60px;
         font-size: 5px;
     }  

     #cart{
        font-size: 20px;
        color: #0184a9
    }

    #badge{
        height: 15px;
    }
}

@media(max-width: 507px){
    
     #logoNavBar{
        height: 40px;
}
}

@media(max-width: 450px){
    
    #logoNavBar{
       height: 20px;
}
}






